<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year Written</th>
                <th>Edition</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => {%>
                <tr>
                    <td><%=el.id%></td>
                    <td><%=el.title%></td>
                    <td><%=el.author%></td>
                    <td><%=el.year_written%></td>
                    <td><%=el.edition%></td>
                    <td><%=el.price%></td>
                </tr>
                
           <% });%>
        </tbody>
    </table>
</body>
</html>

